label{
    color: rgb(136, 136, 136);
    font-weight: 400;
}

[type="button"]{
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-radius: 0.4rem;
    color: white;
    border: 0;
    font-weight: lighter;    
    background: rgb(57,133,230);
    background: linear-gradient(90deg, rgba(57,133,230,1) 34%, rgba(55,106,226,1) 62%, rgba(55,104,226,1) 64%);
    transition: background-image 1s linear, box-shadow 1s linear;
}

[type="text"],select{
    color: white;
    background: rgb(53, 54, 58);
    border:0;
   
  
}

[type="text"]:focus{
    border: 0;
}
[type="button"]:hover{
    box-shadow: 1px 1px 11px rgb(14, 14, 14);

    background-image: linear-gradient(
        90deg,
        rgb(21, 86, 170) 20%,
        rgb(25, 88, 170) 50%
    );
 }

 option:focus{
    background-color: grey !important;
 }

 a:hover{
    color: rgb(57,133,230) !important;
    }

header > nav, footer{
    padding: 2rem;
    background-color:  rgb(20, 22, 28) ;
}

header{
  background-color:  rgb(20, 22, 28) ;
  box-shadow: 0.1px 0.1px 10px  rgb(26, 28, 34) ;
}
 .ha{
    width: 100% ;
    
    
 }

 .h{
  
   
   width: 5rem;
   padding: 0;
    
    background-image: none !important;
 }
 span > img{
     width: 90%;
     
 }

 .text-white2{
  color: rgb(255, 255, 255);
  filter:  drop-shadow(2px 2px rgb(14, 21, 27)); 
 }

  [ type="text"], select{
    width: 15em;
  }

  @media screen and (max-width: 320px) {
    [type="text"], select{
    width: 70vw !important;
  }

  }

  @media screen  and (max-width: 999px) {
    .navbar{
      width: 100% !important;
    }

    input[type="text"]{
      width: 90% !important;
    }
  }
  
  .form-check-input:checked {
    background-color: #344257;
    border-color: #2e3238;
  }

  body{
    background-image: url(./steamgamescollection001999x0-1200x600.png);
    background-size: cover ;
    height: 100%;
    
  }

  .fondo-login{
    background-color:  rgb(20, 22, 28) ;
   
    padding: 2rem;
    border-radius: 2rem;
  }